
    .mat-form-field-underline{
        display: none !important;
    }


    .prfile-analyz-img{
        border-radius: 100% !important;
    }

    .img-crop-pointer-none{
        pointer-events: none;
    }

    .img-crop-display-none{
        display: none !important
    }

    .image-cropper-wrap{
        width: 300px; margin: 0 auto;
        height: 144px;
    }
    