
            <form 
            *ngIf="!success"
            [formGroup]="forgotPasswordForm" 
            (ngSubmit)="validate1($event)"
            (keyup.enter)="forgotPasswordForm.valid"
            ><!--  (click)="validate1($event)" -->
                <mat-form-field class="forgot-input-email" color="accent">
                    <input 
                    matInput 
                    id="emailControl"
                    formControlName="emailControl" 
                    #emailInput
                    name="email"   
                    type="email" 
                    placeholder="Your Email Address" 
                    [errorStateMatcher]="formErrorStateMatcher"/>
                    
                    <mat-error  *ngIf="formControls && emailControlError" class="mat-error">
                        {{emailControlErrorMessage}}
                    </mat-error>

                </mat-form-field>
                <button mat-raised-button color="accent" type="submit"
                    class="account-upload-qq-button"
                    [disabled]="!forgotPasswordForm.valid">
                    Send your email
                </button><!-- (click)="validate1($event)" -->
            </form>

            <div *ngIf="success" class="container-centar">
                    <div class="message-card">
                        <p>Reset password email has bean successfully sent. &nbsp;</p>
                        <p> Please check your email Inbox :)</p>
                    </div>
            </div>

            <button mat-button color="accent" type="button" (click)="onLoginLink('login')">
                Login
            </button>

    

