app-saved-searches{
    padding: 0 12px 12px 12px !important;
    display: block;
    overflow: hidden;
}

.header-search-button{
    box-sizing: content-box !important;
    border-radius: 10px !important;
    padding: 0 !important;
    min-width: 36px !important;
    width: 36px !important;
    height: 36px !important;
    align-self: center;
    border: 2px solid transparent !important;
    background-color: transparent !important; 
    box-shadow: none !important;
}

.search-button-active{
    color: whitesmoke !important;
}

.header-search-button
.mat-button-wrapper{
    padding: 0 !important;
}

.header-search-button
.mat-button-ripple{
    border-radius: 10px !important;
}