

    <div *ngIf="success" class="container-centar">
        <div class="message-card">
            <p>Password has been change successfully. <br/> You will be redirected to the
                <a routerLink="/accounts/profile" fragment="focus" mat-button color="accent">
                    profile page 
                </a> in {{countDown}} seconds..
            </p>
        </div>
    </div>
    <form
        *ngIf="!success"
        [formGroup]="changePasswordForm"
        novalidate
        (ngSubmit)="changePassword($event)"
        (keyup.enter)="formKeyupEnter($event)"
    >
        <mat-form-field class="change-password-current" color="accent"  >
            <input 
                matInput
                id="currentPasswordControl"
                formControlName="currentPasswordControl"
                #passwordInput
                name="currentPassword" 
                type="password" 
                placeholder="Current Password"
                [errorStateMatcher]="formErrorStateMatcher"/>
                <mat-error  *ngIf="formControls && currentPasswordControlError" class="mat-error">
                    {{currentPasswordControlErrorMessage}}
                </mat-error>

        </mat-form-field>
        <div formGroupName="newPasswordGroup">
            <mat-form-field class="change-password-password" color="accent">
                <input 
                    matInput 
                    id="passwordControl"
                    formControlName="passwordControl" 
                    name="password" 
                    type="password" 
                    placeholder="Password" 
                    [errorStateMatcher]="formErrorStateMatcher"/>
                <mat-error  *ngIf="formControls && passwordControlErrorMessage" class="mat-error">
                    {{passwordControlErrorMessage}}
                </mat-error>

            </mat-form-field>
            <mat-form-field class="change-password-confirm-password" color="accent">
                <input 
                    matInput
                    id="confirmPasswordControl"
                    formControlName="confirmPasswordControl" 
                    name="confirmpassword" 
                    type="password" 
                    placeholder="Confirm Password" 
                    [errorStateMatcher]="formErrorStateMatcher"/>
                <mat-error  *ngIf="formControls && confirmPasswordControlError" class="mat-error">
                    {{confirmPasswordControlErrorMessage}}
                </mat-error>

            </mat-form-field>
        </div>
        <button mat-raised-button color="accent" type="submit" 
            class="account-upload-qq-button"    
            [disabled]="!changePasswordForm.valid || clickOnButton">
            Change Password
        </button>
    </form>

    <button (click)="navigateToProfile()" mat-button color="accent">
        Profile
    </button> 