<!-- <svg version="1.1" id="L4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
  viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve">
  <circle fill="#333" stroke="none" cx="6" cy="0" r="6">
    <animate
      attributeName="opacity"
      dur="1s"
      values="0;1;0"
      repeatCount="indefinite"
      begin="0.1"/>    
  </circle>
  <circle fill="#333" stroke="none" cx="26" cy="0" r="6">
    <animate
      attributeName="opacity"
      dur="1s"
      values="0;1;0"
      repeatCount="indefinite" 
      begin="0.2"/>       
  </circle>
  <circle fill="#333" stroke="none" cx="46" cy="0" r="6">
    <animate
      attributeName="opacity"
      dur="1s"
      values="0;1;0"
      repeatCount="indefinite" 
      begin="0.3"/>     
  </circle>
</svg> -->

<svg xml:space="preserve" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="" id="L4" version="1.1" viewBox="0 0 100 100" x="0px" xmlns="http://www.w3.org/2000/svg" y="0px">
    <circle cx="6" cy="50" fill="#333" r="16" stroke="none"><animate attributeName="opacity" begin="0.1" dur="1s" repeatCount="indefinite" values="0;1;0"></animate></circle>
    <circle cx="42" cy="50" fill="#333" r="16" stroke="none"><animate attributeName="opacity" begin="0.2" dur="1s" repeatCount="indefinite" values="0;1;0"></animate></circle>
    <circle cx="78" cy="50" fill="#333" r="16" stroke="none">
    <animate attributeName="opacity" begin="0.3" dur="1s" repeatCount="indefinite" values="0;1;0">

</animate>
</circle>
</svg>