/* #region Media Screen (min-width : 481px) and (max-width : 568px) */

@media only screen and (min-width : 481px) and (max-width : 568px) {

    /* #region Header */


    app-header-desktop{
        font-size: 14px !important;
    }

    .message-card{
        width: 100% !important;
        height: 100% !important;
        border-radius: 0 !important;
    }

        /* #region Search */


            input.mat-chip-input{
                width: 50px !important;
                flex: 1 1 50px !important;
            }


            .search-action-bar-center{
                height: 48px !important;
            }

            .search-action-bar-center:before{
                bottom: 12px !important;
            }

            .search-menu{
                width: 100% !important;
                min-width: 100% !important;
                margin-top: 0 !important;
                right: 0 !important;
                bottom: 50px !important;
            }
        /* #endregion Search */

    /* #endregion Header */
        
    /* #region List */

        .item-list
            .container{
                width: 100% !important;
                padding: 0 44px !important;
            }

        .col-md-6 {
            width: 90% !important;
        }

        /* .col-xs-6{
            width: 100% !important;
        } */
    
    /* #endregion List */

    /* #region Item Tags */
    .item-tags-scroll{
        padding: 0 !important;
    } 
    /* #endregion Item Tags */

    /* #region Item */

        .item-card-item-path{
            width: 100% !important;
        }

        .item-card-item-detail{
            border-radius: 0 !important;
        }

        .upload-close-icon{
            display: none;
        }

        .app-item-wall{
            width: 97% !important;
        }

        .app-item-carousel{
            width: 97% !important;
        }
    /* #endregion Item */

    /* #region Footer */

        .footer-section{
            display: inline-block !important;
        }

        .footer-section
        /* .mat-toolbar-row */
        {
            display: inline;
            height: 48px !important;
            overflow: initial !important;
        }
        
        .footer-toolbar-row-terms{
            width: 100% !important;
            display: flex !important;
            justify-content: center !important;
            margin: 0 !important;;
        }

        .footer-toolbar-row-social{
            width: 100% !important;
            display: flex !important;
            justify-content: center !important;
            margin: 0 !important
        }

        .footer-toolbar-row-powered{
            width: 100% !important;
            display: flex !important;
            justify-content: center !important;
            margin: 0 !important
        }

    /* #endregion Footer */

}

/* #endregion Media Screen (min-width : 481px) and (max-width : 568px) */