

    <div *ngIf="success"  class="container-centar">
        <div    class="message-card">
            <p>Password has been reset successfully. <br/>
                    You will be redirected to the 
                    <a routerLink="accounts/login" fragment="focus" mat-button color="accent">login page </a> in {{countDown}} seconds..
            </p>
        </div>      
    </div>
    <form 
    *ngIf="!success"
        [formGroup]="resetPasswordForm"
        novalidate
        (ngSubmit)="resetPassword($event)"
        (keyup.enter)="formKeyupEnter($event)"    
    ><!-- (keyup.enter)="resetPassword($event)"  -->
        <mat-form-field color="accent" class="reset-password-input-password">
            <input matInput
                id="passwordControl"
                formControlName="passwordControl"
                name="password"  
                type="password" 
                placeholder="Password" 
                [errorStateMatcher]="formErrorStateMatcher"
            />

            <mat-error  *ngIf="formControls && passwordControlErrorMessage" class="mat-error">
                {{passwordControlErrorMessage}}
            </mat-error>

        </mat-form-field>

        <mat-form-field color="accent" class="reset-password-input-confirm-password">
            <input matInput
                id="confirmPasswordControl"
                formControlName="confirmPasswordControl" 
                name="confirmpassword" 
                type="password" 
                placeholder="Confirm Password"  
                [errorStateMatcher]="formErrorStateMatcher"      
            />
            <mat-error  *ngIf="formControls && confirmPasswordControlError" class="mat-error">
                {{confirmPasswordControlErrorMessage}}
            </mat-error>

        </mat-form-field>

        <button mat-raised-button color="accent" type="submit" 
            class="account-upload-qq-button" 
            [disabled]="!resetPasswordForm.valid">
            Reset Password
        </button><!--(click)="resetPassword($event)" -->
    </form>

